<div id='shuffle-box' class="navbar justify-content-between align-items-center" size: 10px >

  <%= link_to bookmark_taste_path(movie), style: "color: inherit;", remote: true, method: :patch, class: "bookmark" do %>
    <% if wished.count.zero? %>
      <i class="far fa-bookmark"></i>
    <% else %>
      <i class="fas fa-bookmark"></i>
    <% end %>
  <% end %>
  <%= link_to like_taste_path(movie), style: "color: inherit;", method: :patch do %>
    <i class="far fa-thumbs-up"></i>
  <% end %>
  <%= link_to watch_taste_path(@movie), style: "color: inherit;", method: :patch do %>
      <div class='playBut'>

<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In  -->
      <svg version="1.1"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
         x="0px" y="0px" width="55px" height="55px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
         xml:space="preserve">

      <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
        73.5,62.5 148.5,105.8 73.5,149.1 "/>

      <circle class='circle' id="XMLID_17_" fill="none"  stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
      </svg>
      </div>
    <% end %>
  <%= link_to dislike_taste_path(movie), style: "color: inherit;", method: :patch do %>
    <i class="far fa-thumbs-down"></i>
  <% end %>
  <%= form_tag('/movies', method: :get) do -%>
    <% unless movies_shuffled.blank? %>
      <% movies_shuffled.each do |movie_shuffled| %>
        <%= hidden_field_tag 'movies_shuffled_ids[]', movie_shuffled.id %>
      <% end %>
    <% end %>
    <%= hidden_field_tag 'movies_shuffled_ids[]', movie.id %>
    <div><%= button_tag style: "border: none; background-color: transparent;" do %>
        <i class="fas fa-forward"></i>
     <% end %>
    </div>
  <% end -%>
</div>

