<div class="movie-wrapper flex-column" style="margin-top: 48px;">
  <! ---- Movie Trailer & Heading ---- >
  <div class="trailer-header-card sticky-top" style="background-color: white; top: 48px;">
    <! ---- Movie Trailer ---- >
    <%#= video_tag "https://imdb-video.media-imdb.com/vi1032782617/1434659607842-pgv4ql-1564059931449.mp4?Expires=1568831420&Signature=PEZvFs78XouDOV6vC61b12MnGUsc10cqbXmVWjvG0t-0Mc7s-fcOXFbWojkomD~eJ7zUI5xSPcPuGWfnFW4ZTbkwQ6r-H3ACDE863ulYTp8yybno71EsqKWNi0g5C6BpMxRbImede5Mpn8Of4BDdHPPNAx9a1~1NHCN025RbXz5hEL-zs66HS5tYncdJaONYnCKs-fwdLmNq8gePSRc0FxNKDBxOAdxZxRLk3sOo1A2k~JlTJ4GJ~Xxkwiq7sVHSrAk9TTUJKlMUsRqbjzt3rlzdyVS-y8lPIuLPhjgkbZvj4av5Shah5LOoLkq~Pu574y1p2uqrBrJ20VTtNu0JqQ__&Key-Pair-Id=APKAIFLZBVQZ24NQH3KA", class: "video_player", :controls => true %>
    <%= image_tag @movie.photo, class: "movie-banner" %>
    <! ---- Movie Header ---- >
    <div class="section-card">
        <h2><%= @movie.title %> (<%= @movie.year %>) </h2>
        <h4><%= @movie.duration %>min |  <%= @movie.genre %></h4>
    </div>
  </div>
  <! ---- Movie Ratings & Wishlist ---- >
  <div class="movie-ratings d-flex justify-content-sm-start align-items-center">
    <div class="flex-item ml-2 mr-3">
      <i class="fas fa-thumbs-up"></i> <%= @pourcentage_of_likes %>
    </div>
    <div class="flex-item mr-3">
      <i class="fab fa-imdb"></i> <%= @movie.imdb_rating %>
    </div>
    <%= link_to watch_taste_path(@movie), style: "color: inherit;", method: :patch do %>
      <i class="fas fa-play ml-5" style="color: orange; font-size: 40px;"></i>
    <% end %>
    <div class="flex-item ml-auto mr-2">
      <% if @wished.count.zero? %>
        <%= link_to bookmark_taste_path(@movie), remote: true, method: :patch, class: "bookmark nostyle" do %>
          <i class="far fa-bookmark mr-1"></i> Wishlist
        <% end %>
      <% else %>
        <%= link_to bookmark_taste_path(@movie), remote: true, method: :patch, class: "bookmark nostyle" do %>
          <i class="fas fa-bookmark mr-1"></i> <p>Wishlist</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <! ---- Movie Description ---- >
  <div class="section-card d-flex">
    <div>
      <%= image_tag @movie.photo, class: "movie-show-poster mt-1" %>
    </div>
    <div class="description-card ml-3 flex-grow-1">
      <h4 style="margin:0em;">Description:</h4>
      <p><%= @movie.description %> </p>
      <h4 style="margin:0em;">Director: </h4> <p><%= @movie.director %></p>
      <h4 style="margin:0em;">Actors: </h4> <p><%= @movie.actor %></p>
      <h4 style="margin:0em;">Awards: </h4> <p> <%= @movie.award %></p>
    </div>
  </div>
  <! ---- Watched By Section ---- >
  <div class="section-card flex-column">
    <h4>Watched By:</h4>
    <div class="watched-avatars-card d-flex">
      <% @watched_by.each do |taste| %>
        <% if current_user.follows.exists?(followed: taste.user) || taste.user == current_user %>
          <div class="flex-column">
            <div style= "display: flex; flex-direction: column; align-items: center; justify-content: center; ">
              <%= link_to user_path(taste.user) do %>
                <%= image_tag taste.user.photo, class: "avatar mr-4" %>
              <% end %>
              <div style="margin-right: 1em"><p><%= taste.user.first_name %></p> </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <! ---- Reviews Section ---- >
  <div class="section-card flex-column">
      <h4>Friend Reviews<%#= @movie.tastes.count %>:</h4>

    <div class="review_card">
        <% @reviewed_by.each do |taste| %>
          <% if current_user.follows.exists?(followed: taste.user) || taste.user == current_user %>
            <div class="review_info d-flex justify-content-between">
              <div id="review-text">
                <%= link_to user_path(taste.user) do %>
                  <%= image_tag taste.user.photo, class: "avatar-review" %>
                <% end %>
                <strong><%= taste.user.first_name %> <%= taste.user.last_name %></strong>
              </div>
              <div class="review_tastes" >
                <% if taste.rating == true %>
                  <i class="fas fa-thumbs-up" style="padding-right: 0.5em; font-size: 1.5em"></i>
                <% else %>
                  <i class="fas fa-thumbs-down" style="padding-right: 0.5em; font-size: 1.5em"></i>
                <% end %>
              </div>
            </div>
            <div class="review_card_review">
                <p style="margin-left: 3.5em; margin-right:2.3em;"><%= taste.review %></p>
            </div>
          <% end %>
         <% end %>
    </div>
  </div>
</div>

