<br><br>
<div class="name-card">
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
</div>
<div class="section-card">
  <div class="profile-summary d-flex">
    <%= image_tag @user.photo, class: "avatar-large" %>
    <div class="watched-follows-cards d-flex">
      <div class="watch-follow-card flex-column">
        <p><strong><%= @watched.count %></strong></p>
        <p>Watches</p>
      </div>
      <div class="watch-follow-card flex-column">
        <p><strong><%= @followers.count %></strong></p>
        <p>Followers</p>
      </div>
      <div class="watch-follow-card flex-column">
        <p><strong><%= @following.count %></strong></p>
        <p>Following</p>
      </div>
    </div>
  </div>
  <% if @current_user_follows %>
    <div class="d-flex justify-content-center">
      <a href="#" class="btn-following">Following</a>
    </div>
  <% else %>
    <div class="d-flex justify-content-center">
      <a href="#" class="btn-follow">Follow</a>
    </div>
  <% end %>
</div>

</div>
<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
