<br><br><br>
<div class="container">
  <div class="search-form-control form-group">
  <input class="form-control string required" type="text" id="search" placeholder="Pick a movie to rate">
   <button name="button" type="submit" class="btn btn-flat btn-sm">
      <i class="fas fa-search"></i>
    </button>
  </div>
    <ul id="results" class="nobullet" style="list-style-type: none">
    </ul>


  <%= simple_form_for [@taste] do |f| %>
    <%= f.hidden_field :imdb_id, value:"" %>

    <%= f.input :rating, collection: [true, false] %>
    <%= f.input :review %>
    <%= f.submit "add a review", class: "btn btn-primary" %>
  <% end %>
</div>
