<div id="landpageOverlay">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://m.media-amazon.com/images/M/MV5BMzY1ZjMwMGEtYTY1ZS00ZDllLTk0ZmUtYzA3ZTA4NmYwNGNkXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX300.jpg);">
    <h1>PickandWatch</h1>
    <button type="button" class="btn btn-login" id="landpageLogin">Log In</button>
    <div class="landing-container">
      <p>Want to find a good movie but feeling lost? PickandWatch a movie quickly based on your friend's recommendations</p>
      <%= link_to "Sign Up", new_user_registration_path(), class: "btn btn-signup" %>
    </div>
  </div>

  <div class="landing-features">
    <br><h1>Browse Your Feed</h1>
    <p>You can filter by genre, and scroll through to see what your friends have watched and reviewed recently.</p>
    <br><%= image_tag  "https://images.squarespace-cdn.com/content/v1/583f47ca9f7456f249b6f49f/1571282995936-Z47T9D1VT3C88DVIMAME/ke17ZwdGBToddI8pDm48kJV1xzub3Mv7ryjqIYnrM6MUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8GRo6ASst2s6pLvNAu_PZdJ2sioZVOoaMvpFPoJKK8SGP4WCvaCD5AEuyk7TfKOKqk8sB3h3Ja5h2jZpFYoqad0/ezgif.com-video-to-gif+%285%29.gif?format=750w", class: "landing-gif"%>
  </div>
  <div class="landing-features">
    <br><h1>Use the Movie Shuffle</h1>
    <p>Shuffle through movie suggestions based on your friends' recommendations. 
    If you are watching with a buddy, add them to your shuffle. We combine both of your
    friend lists, so picking a movie together can be quick and painless!</p>
    <br><%= image_tag  "https://images.squarespace-cdn.com/content/v1/583f47ca9f7456f249b6f49f/1571282196816-X718ULHJ1ERZL2LK9HBY/ke17ZwdGBToddI8pDm48kDyekwZ-IJhZzorw6dTvHhlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyv4tr_s7gA6PJDNdwf6H-7COIwQIeKeuzPIWsOYn6V7wL7NCiO2H9_TzlJ-bOIsGc/ezgif.com-video-to-gif+%283%29.gif?format=750w", class: "landing-gif" %>
  </div>
  <div class="landing-features">
    <br><h1>Friend Ratings & Reviews</h1>
    <p>You trust your friends taste the most! Check their opinions on any movie.</p>
    <br><%= image_tag  "https://images.squarespace-cdn.com/content/v1/583f47ca9f7456f249b6f49f/1571281858561-296FC08C98YID8JR4EQD/ke17ZwdGBToddI8pDm48kJV1xzub3Mv7ryjqIYnrM6MUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8GRo6ASst2s6pLvNAu_PZdJ2sioZVOoaMvpFPoJKK8SGP4WCvaCD5AEuyk7TfKOKqk8sB3h3Ja5h2jZpFYoqad0/ezgif.com-video-to-gif+%282%29.gif?format=750w", class: "landing-gif" %>
  </div>
  <div class="landing-features">
    <br><h1>Curate Your Own Wishlists & Reviews </h1>
    <p>You profile contains all the movies you've reviewed, along with your wishlist. Now your friends can go to your page to see what you recommend!</p>
    <br><%= image_tag  "https://images.squarespace-cdn.com/content/v1/583f47ca9f7456f249b6f49f/1571281690814-DLLPO7K3UUGCBOAIGT1S/ke17ZwdGBToddI8pDm48kJV1xzub3Mv7ryjqIYnrM6MUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8GRo6ASst2s6pLvNAu_PZdJ2sioZVOoaMvpFPoJKK8SGP4WCvaCD5AEuyk7TfKOKqk8sB3h3Ja5h2jZpFYoqad0/ezgif.com-video-to-gif+%281%29.gif?format=750w", class: "landing-gif" %>
  </div>
  <%= link_to "Sign Up Today!", new_user_registration_path(), class: "btn btn-signup", style: "border-radius: 0; padding: 1rem;" %>
</div> 

<div id="loginPage" style="display: none;">
  <div class="devise-background" id="" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),  url(https://m.media-amazon.com/images/M/MV5BMzY1ZjMwMGEtYTY1ZS00ZDllLTk0ZmUtYzA3ZTA4NmYwNGNkXkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX300.jpg);">
    <div class="log-sign-container">

      <h1 class="devise-header">Log in</h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn-devise" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>