<br><br>
<%= render 'search_form' %>

<div class="categories">
 <% @genres.each do |genre| %>
  <button class="nostyle" data-genre="<%= genre %>" href="#"> <%= genre %>
    </button>
    <% end %>
</div>

<!-- DO NOT REMOVE THE CLASS CARDS OTHERWISE IT FUCK EVERYTHING -->
<div class="cards">
  <% @tastes.each do |taste| %>
    <div data-genre="<%= taste.movie.genre %>" class="cards_info d-flex justify-content-between">
      <div class="tastes_info">
        <%= image_tag taste.user.photo, class: "avatar" %>
        <%= taste.user.first_name %> <%= taste.user.last_name %>
        <p>
          <em><%= taste.movie.title %></em>
        </p>
      </div>
        <div class="review_tastes">
          <% if taste.rating == true %>
              <i class="fas fa-thumbs-up" style="padding-right: 8px; padding-top:9px"></i>
            <% else %>
              <i class="fas fa-thumbs-down" style="padding-right: 8px;padding-top:9px"></i>
            <% end %>
        </div>
    </div>
      <div class="movie_image">
        <a href="<%= movie_path(taste.movie) %>">
          <%= image_tag taste.movie.photo%>
        </a>
      </div>
        <div class="d-flex justify-content-between">
          <div>
            <i class="far fa-heart" style="padding-left: 8px;"></i>
            <i class="far fa-comment" style="margin-left: 6px"></i>
          </div>
            <i class="far fa-bookmark" style="padding-top: 4px; padding-right: 8px" ></i>
        </div>
        <p style="padding-left: 6px">Review from User Review from User Review from User Review from User Review from User</p> <!-- taste.review -->
  <% end %>
</div>
