<br><br>
<%= render 'search_form' %>

<div class="categories">
 <% @genres.each do |genre| %>
  <button class="nostyle" data-genre="<%= genre %>" href="#"> <%= genre %>
    </button>
    <% end %>
</div>

<!-- DO NOT REMOVE THE CLASS CARDS OTHERWISE IT FUCK EVERYTHING -->
<div class="cards">
  <% @tastes.each do |taste| %>
    <div data-genre="<%= taste.movie.genre %>">
      Card for <%= taste.movie.title %>
    </div>
  <% end %>
</div>

<%= render 'footer' %>
