<br><br>
<%= render 'search_form' %>

<div class="categories">
 <% @genres.each do |genre| %>
  <button class="nostyle" data-genre="<%= genre %>" href="#"> <%= genre %>
    </button>
    <% end %>
</div>

<!-- DO NOT REMOVE THE CLASS CARDS OTHERWISE IT FUCK EVERYTHING -->
<div class="cards">
  <% @tastes.reverse.each do |taste| %>
    <div data-genre="<%= taste.movie.genre %>">
      <% if current_user.follows.exists?(followed: taste.user) || taste.user == current_user %>
        <% if taste.rating.nil? %>
          <div class="watching-section-card d-flex justify-content-between mb-2">
            <div class="flex-column mt-3">
              <div class="review-text d-flex">
                <%= link_to user_path(taste.user) do %>
                  <%= image_tag taste.user.photo, class: "avatar" %>
                <% end %>
                <div class="review-header flex-column ml-2" style="font-size: 0.8em;">
                  <div>
                    <strong><%= taste.user.first_name %> <%= taste.user.last_name %></strong> is currently watching
                  </div>
                  <div><%= taste.movie.title %></div>
                  <br>
                </div>
              </div>
            </div>
            <%= link_to movie_path(taste.movie) do %>
            <% if taste.movie.photo == "N/A" %>
              <%= image_tag 'https://cdn.moviemovie.com.hk/teaser/og-image.jpg', class: "movie-watching-poster" %>
            <% else %>
              <%= image_tag taste.movie.photo, class: "movie-watching-poster" %>
            <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="dashboard-review-container flex-column mt-2 mb-2">
            <div class="section-card d-flex justify-content-between">
              <div class="review-text d-flex">
                <%= link_to user_path(taste.user) do %>
                  <%= image_tag taste.user.photo, class: "avatar" %>
                <% end %>
                <div class="review-header flex-column ml-2" style="font-size: 0.8em;">
                  <div>
                    <strong><%= taste.user.first_name %> <%= taste.user.last_name %></strong> watched
                  </div>
                  <div><%= taste.movie.title %></div>
                </div>
              </div>
              <div class="review_tastes mt-2" >
                <% if taste.rating == true %>
                  <i class="fas fa-thumbs-up" style="padding-right: 8px"></i>
                <% elsif taste.rating == false %>
                  <i class="fas fa-thumbs-down" style="padding-right: 8px"></i>
                <% end %>
              </div>
            </div>
            <div>
              <%= link_to movie_path(taste.movie) do %>
                <% if taste.movie.photo == "N/A" %>
                  <div class="movie-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 0.84)),  url('https://cdn.moviemovie.com.hk/teaser/og-image.jpg');"  >
                  </div>
                <% else %>
                  <div class="movie-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 0.25)),  url(<%= taste.movie.photo %>);"  >
                  </div>
                <% end %>
              <% end %>
              <div class="details">
                <% if taste.review.nil? %>
                  <div class="movie-footer d-flex justify-content-end align-items-center">
                    <div class="flex-item ml-5 mr-1">
                      <%= link_to bookmark_taste_path(taste.movie), style: "color: inherit; font-size: 36px;", remote: true, method: :patch, class: "bookmark" do %>
                        <% if @wished.where(movie: taste.movie).count.zero? %>
                          <i class="far fa-bookmark"></i>
                        <% else %>
                          <i class="fas fa-bookmark"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <div class="movie-footer d-flex justify-content-space-between align-items-center">
                    <h2 class="movie-review ml-2">"<%= taste.review[0..65] %>..."</h2>
                    <div class="flex-item ml-5 mr-1">
                      <%= link_to bookmark_taste_path(taste.movie), style: "color: inherit; font-size: 36px;", remote: true, method: :patch, class: "bookmark" do %>
                        <% if @wished.where(movie: taste.movie).count.zero? %>
                          <i class="far fa-bookmark"></i>
                        <% else %>
                          <i class="fas fa-bookmark"></i>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
