<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<br>
<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="movies">
        <% @movies.each do |movie| %>
          <p><%= movie.title %></p>
          <img src="<%= movie.photo %>" alt="">
        <% end %>
      </div>
    </div>
  </div>
</div>
